body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0d0202;
  color:aliceblue
}

h1 {
  text-align: center;
  margin: 3%;
  font-size: 55px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar {
  color: aliceblue; /* O el color que prefieras para las letras */
  margin-bottom: 2%;
  display: flex;
}

.custom-footer {
  margin-top: 50px; /* Puedes cambiar a lo que necesites */
  margin-bottom: 0!important;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem; 
  
}


.navbar .navbar-brand img {
  width: 40px;
  height: auto;
}


.navbar-nav {
  display: flex;
  align-items: center;
  gap: 1rem; /* Opcional: separa los ítems */
}

.container {
  width: 100%;
}